.job, .test{
    padding: 10px;
    margin: 2.5px;
    font-family: sans-serif;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
}
.job{
    background-color: seagreen;
}
.legacyjob{
    background-color: grey;
    opacity: .8;
}
.test{
    background-color: SteelBlue;
}

.object_container{
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
    max-width: 325px;
}
#banner{
    background-color: whitesmoke;
    color: grey;
    border-bottom: 3px solid;
    border-color: gainsboro;
    font-size: 1em;
    width: 100%;
}
.bannerbutton{
    border-right: 1px solid;
    display: inline-block;
    padding: 15px;
    border-color: gainsboro;
    color: grey;
    font-size: 1em;
}
.bannerbutton:hover{
    color: #505050;
    background-color: gainsboro;
}
button{
    background: none;
    border: none;
    border-left: 1px solid;
    cursor: pointer;
}
button.bannerbutton{
    padding: 14px;    
}
*{
    font-family: sans-serif;

}
a{
    text-decoration: none;
}

body{
    margin: 0;
}
form{
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
}
input{
    background-color: white;
    border: none;
    padding: 5px;
}
#container{
    padding-left: 10px;
}
h1{
    color: dimgrey;
}
.group_container{
    display:inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
@media only screen and (max-width: 768px){
    .object_container, .group_container, .job, .test, #search{
        display:block;
        width: 100%;
    }
    .group_container{
        width: 100%;
        display: block;
    }
    .bannerbutton{
        border:none;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: gainsboro;
        margin-bottom: 5px;
        text-align: left;
        min-width: 100%;
    }
    .select2-container{
        min-width: 100%;
    }
}

.select2-choice > span{
    color: grey;
}
