#container{
    padding-left: 10px;
}
.job{
    background-color: seagreen;
}
.job, .test{
    padding: 10px;
    margin: 3px;
    font-family: sans-serif;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
}
.test{
    background-color: SteelBlue;
}
.legacyjob{
    background-color: dimgrey;
    opacity: .8;
}

.object_container{
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
    max-width: 325px;
}
.group_container{
    display:inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.banner{
    background-color: #303030;
    color: white;
    border-bottom: 2px solid;
    border-color: #E66000;
    font-size: 1em;
    width: 100%;
    position: fixed;
    height: 50px;
    z-index: 100;
}
.banner.spacer{
    position: static;
    visibility: hidden;
}
.bannerbutton{
    border-right: 1px solid;
    display: inline-block;
    padding: 15px;
    border-color: #E66000;
    color: white;
    font-size: 1em;
    height: 100%;
    box-sizing: border-box;
}
.bannerbutton.end{
    border-left: 1px solid;
    border-color: #E66000;
}
.select2-choice > span{
    color: grey;
    display: inline-block;
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
*{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
}
form{
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
}
input{
    background-color: white;
    border: none;
    padding: 5px;
}
h1{
    color: dimgrey;
}

@media only screen and (max-width: 890px){
    .banner{
        height: auto;
    }
    .banner.spacer{
        height: 100px;
    }
    .bannerbutton{
        height: auto;
    }
}
@media only screen and (max-width: 768px){
    .group_container, .job, .test, #search{
        display:block;
        width: 100%;
    }
    .object_container{
        display: block;
        max-width: 90%
    }
    .bannerbutton{
        border:none;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: #E66000;
        margin-bottom: 5px;
        text-align: left;
        min-width: 100%;
        height: auto;
    }
    .bannerbutton.end{
        border-left: none;
        border-bottom: none;
        margin-top: 5px;
    }
    .banner{
        position: relative;
        height: auto;
    }
    .banner.spacer{
        display:none;
    }
    .select2-container{
        min-width: 100%;
    }

}
