.Passed{
    display: inline-block;
    margin: 0;
    padding: 0;
    color: green;
}
.Skipped{
    display: inline-block;
    margin: 0;
    padding: 0;
    color: darkKhaki;
}
.Error{
    display: inline-block;
    margin: 0;
    padding: 0;
    color: firebrick;
    cursor: pointer;
}
.Failure{
    display: inline-block;
    margin: 0;
    padding: 0;
    color: salmon;
    cursor: pointer;
}
.Expected.Failure{
    display: inline-block;
    margin: 0;
    padding: 0;
    color: DarkOrange;
    cursor: pointer;
}
.Unexpected.Pass{
    display: inline-block;
    margin: 0;
    padding: 0;
    color:SteelBlue;
}
#legend_container{
    vertical-align: top;
}
#chart_container{
    display: inline-block;
    min-width: 371px;
    padding: 10px;
}
#legend{
    background-color: white;
    color: #57626E;
}
#chart{
    display: inline-block;
    max-width: 810px;
    max-height: 375px;
}
#yaxis{
    display: inline-block;
    vertical-align: top;
    width: 30px;
}
#chart.rickshaw_graph .detail .x_label{
    color: black;
}
#chart{
    cursor: pointer;
}
.tablehead{
    background: whitesmoke;
}
.resulttable{
    background: whitesmoke;
    margin: 5px;
}
td{
    background: white;
    padding: 5px;
    color: dimgrey;
}

td a{
    text-decoration: underline;
    color: dimgrey;
}
.collapse{
    max-width: 75px;
}
.break{
    word-break: break-all;
}
.xlabel{
    text-align: center;
    color: dimgrey;
    margin: 0 0 5px;
}

