<!DOCTYPE HTML PUBLIC>
<html lang="en">
<head>
    <meta content='True' name='HandheldFriendly' />
    <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no; minimum-scale=1;'  name='viewport' />
    <link href="/css/layout.css" rel="stylesheet"></link>
    <script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
    <link href="/js/bower_components/select2/select2.css" rel="stylesheet"/>
    <script src="/js/bower_components/select2/select2.min.js"></script>
    <script src="/js/layout.min.js"></script>
</head>
<body>
    <div class="banner">
    <a href="/">
        <div class="bannerbutton">
            B2G Jenkins Job Dashboard
        </div>
    </a>
    <form id="search" name="input" action ="/search/" method="post">
        <select name="job" id="jobselect" required>
            <option></option>
            <optgroup label="Active">
            {% for job in jobs.current %}
                <option value="{{job}}">{{job}}</option>
            {% endfor %}
            </optgroup>
            <optgroup label="Legacy">
                {% for job in jobs.legacy %}
                    <option value="{{job}}">{{job}}</option>
                {% endfor %}
            </optgroup>
        </select>
        <input type="hidden" name="build" id="buildselect"/>
        <input type="hidden" name="test" id="testselect"/>
        <button type="submit" class="bannerbutton end">
            Fetch
        </button>
    </form>
    </div>
    <div class="banner spacer">
    </div>
<div id="container">
    <div id="modal_container">
        <div id="modal_window">
        <p id="modal_close"><strong> X </strong></p>
        <hr></hr>        
        <div id="modal_content"></div>
        </div>
    </div>
    {% block body %}
    {% endblock %}
</div>
</body> 
