{% extends "layout.html" %}
{% block body %}
<h1>
    List of tests for {{job}}
</h1>
    {% if test_list|length == 0 %}
        No tests exist for {{job}} 
    {% else %}
    {% set limit = 15 %}
        {% set len= (((test_list|length)/limit)|round(method='floor')|int) %}
        {%for i in range(len) %}
                <div class="object_container">
                {%for j in range(limit)%}
                    <a href="{{test_list[j+i*limit]}}">
                        <div class="test">
                        {{test_list[j+i*limit]}} 
                        </div>
                    </a>
                {% endfor %}
                </div>
        {% endfor %}
        {% if test_list|length % limit != 0 %}
            <div class="object_container">
                {% for i in range(test_list|length % limit) %}
                    <a href="{{test_list[i+len]}}">
                        <div class="test">
                        {{test_list[i+len]}} 
                        </div>
                    </a>
                {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}