{% extends "layout.html" %}
{% block body %}
<h1>
    List of tests for {{job.job}}
</h1>
    {% if job is string %}
        No tests exist for {{job}} 
    {% else %}
    {% set limit = 15 %}
    {% set keys = job.tests.keys()|sort %}
        {% set len= (((keys|length)/limit)|round(method='floor')|int) %}
        {%for i in range(len) %}
                <div class="object_container">
                {%for j in range(limit)%}
                    <a href="{{keys[j+i*limit]}}">
                        <div class="test {{job.tests[keys[j+i*limit]][0].result}}">
                        {{keys[j+i*limit]}} 
                        </div>
                    </a>
                {% endfor %}
                </div>
        {% endfor %}
        {% if keys|length % limit != 0 %}
            <div class="object_container">
                {% for i in range(keys|length % limit) %}
                    <a href="{{keys[i+len]}}">
                        <div class="test {{job.tests[keys[i+len]][0].result}}">
                        {{keys[i+len]}} 
                        </div>
                    </a>
                {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}