{% extends "layout.html" %}
{% block body %}
{% set limit = 10 %}
{% set len= (((jobs|length)/limit)|round(method='floor')|int) %}
{%for i in range(len) %}
        <div class="object_container">
        {%for j in range(limit)%}
            <a href="job/{{jobs[j+i*limit]}}/tests">
                <div class="job">
                {{jobs[j+i*limit]}} 
                </div>
            </a>
        {% endfor %}
        </div>
{% endfor %}
{% if jobs|length % limit != 0 %}
    <div class="object_container">
        {% for i in range(jobs|length % limit) %}
            <a href="job/{{jobs[i+len]}}/tests">
                <div class="job">
                {{jobs[i+len]}} 
                </div>
            </a>
        {% endfor %}
{% endif %}
{% endblock %}