<link href="/css/test_stats.css" rel="stylesheet" type="text/css"></link>

{% extends "layout.html" %}
{% block body %}
<script>
    var job = {{job|tojson|safe}}
</script>
<h1> Job Report for {{job.job}} #{{job.build}}</h1>
    <table class="resulttable">
        <tr> 
            <td class="tablehead">Build </td>
            <td>{{job.build}}</td>
        </tr>
        <tr> 
            <td class="tablehead">Device </td>
            <td>{{job.device}}</td>
        </tr>
        {% if "gaia_revision" in job.keys()  %}
        <tr> 
            <td class="tablehead">Identifier</td>
            <td>{{job.identifier}}</td>
        </tr>
        <tr> 
            <td class="tablehead">Build   Date </td>
            <td>{{job.date|format_date}}</td>
        </tr>
        <tr> 
            <td class="tablehead">Firmware Date </td>
            <td>{{job.firmware_date}}</td>
        </tr>
        <tr> 
            <td class="tablehead">Firmware Release</td>
            <td>{{job.firmware_release}}</td>
        </tr>
        <tr> 
            <td class="tablehead">Firmware Incremental </td>
            <td>{{job.firmware_incremental}}</td>
        </tr>
        <tr> 
            <td class="tablehead">Gaia Date </td>
            <td>{{job.gaia_date}}</td>
        </tr>
        <tr> 
            <td class="tablehead">Gaia Revision </td>
            <td><a href={{job.gaia_revision.link}}>
                {{job.gaia_revision.revision}}
                </a>
            </td>
        </tr>
        <tr> 
            <td class="tablehead">Gecko Build </td>
            <td>{{job.gecko_build}}</td>
        </tr>
        <tr> 
            <td class="tablehead">Gecko Revision </td>
            <td><a href={{job.gecko_revision.link}}>
                {{job.gecko_revision.revision}}
                </a>
            </td>
        </tr>
        <tr> 
            <td class="tablehead">Gecko Version </td>
            <td>{{job.gecko_version}}</td>
        </tr>
        {% endif %}
    </table>
    <div id="resultcount">
        <div class="Passed">✔:</div> | 
        <div class="Error"><strong>E</strong>:</div> | 
        <div class="Failure">✘:</div> | 
        <div class="Unexpected Pass"><strong>UXP</strong>:</div> | 
        <div class="Skipped"><strong>S</strong>:</div> | 
        <div class="Expected Failure"><strong>XF</strong>:</div>
    </div>
    <table class="resulttable">
    <tr>
        <td class="tablehead"> Name </td>
        <td class="tablehead"> Class </td>
        <td class="tablehead"> Result </td>
        <td class="tablehead"> Duration </td>
    </tr>
    {% for test in job.tests.keys() %}
        {% for run in job.tests[test] %}
            <tr>
                <td>
                    <a href="/job/{{job.job}}/tests/{{run.test_name}}">{{run.test_name}}</a>
                </td>
                <td> {{run.class}} </td>
                <td>
                    <div class="{{run.result}}" data-idx={{loop.index0}} data-test={{test}}>
                    {% if run.result == "Passed" %}
                        ✔
                    {% elif run.result == "Skipped" %}
                        <strong>S</strong>
                    {% elif run.result == "Unexpected Pass" %}
                        <strong>UXP</strong>
                    {% else %}
                        {% if run.result == "Failure" %}
                            ✘
                        {% elif run.result == "Error" %}
                            <strong>E</strong>
                        {% elif run.result == "Expected Failure" %}
                            <strong>XF</strong>
                        {% endif %}
                    {% endif %}
                    </div>
                </td>
                <td>
                    {{run.duration}}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
<script src="/js/displayLogs.js"></script>
<script src="/js/countResults.js"></script>

{% endblock %}
