<link href="/css/test_stats.css" rel="stylesheet" type="text/css"></link>
<script src="/js/bower_components/d3/d3.min.js" charset="utf-8"></script>
<script src="/js/bower_components/rickshaw/rickshaw.min.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/js/bower_components/rickshaw/rickshaw.min.css">
{% extends "layout.html" %}
{% block body %}
<script>
var clearDate = {{clearDate}};
var test_data = [];
// Generate JSON from test_data
{% for test_dict in tests %}
    test_data[{{loop.index0 }}] = {{ test_dict|tojson|safe }};
{% endfor %}
</script>
<h1>
    Test statistics for {{tests[0].test_list[0].test_name}}
</h1>
<div id="graph_container">
    <div id="chart_container">
        <h2 class="xlabel"> Results of {{tests[0].test_list[0].test_name}} Over Time </h2>
        <div id="yaxis"></div>
        <div id="chart"></div>
    </div>
    <span id="legend_container">
        <div id="legend"></div>
    </span>
    <div id="preview"></div>
</div>
<div id="resultcount">
    <div class="Passed">✔:</div> | 
    <div class="Error"><strong>E</strong>:</div> | 
    <div class="Failure">✘:</div> | 
    <div class="Unexpected Pass"><strong>UXP</strong>:</div> | 
    <div class="Skipped"><strong>S</strong>:</div> | 
    <div class="Expected Failure"><strong>XF</strong>:</div>
</div>
<table class="resulttable">
{% if "gaia_revision" in tests[0].keys() %}
    <tr id="labelrow">
        <td class="tablehead"> Build </td>
        <td class="tablehead"> Results </td>
        <td class="tablehead"> Device </td>
        <td class="tablehead"> Identifier</td>
        <td class="tablehead"> Build </br> Date </td>
        <td class="tablehead"> Firmware</br>Date </td>
        <td class="tablehead"> Firmware</br>Release</td>
        <td class="tablehead"> Firmware</br>Incremental </td>
        <td class="tablehead"> Gaia</br>Date </td>
        <td class="tablehead"> Gaia</br>Revision </td>
        <td class="tablehead"> Gecko</br>Build </td>
        <td class="tablehead"> Gecko</br>Revision </td>
        <td class="tablehead"> Gecko</br>Version </td>
    </tr>
    {% for test_dict in tests %}
        <tr>
            <td class="build">
                <a href="/job/{{test_dict.job}}/{{test_dict.build}}">
                    {{test_dict.build}}
                </a>
            </td>
            <td class="collapse result" data-idx={{loop.index0}}>
                {% for test in test_dict.test_list %}
                    <div class="{{test.result}}" data-idx={{loop.index0}}>
                    {% if test.result == "Passed" %}
                        ✔
                    {% elif test.result == "Skipped" %}
                        <strong>S</strong>
                    {% elif test.result == "Unexpected Pass" %}
                        <strong>UXP</strong>
                    {% else %}
                        {% if test.result == "Failure" %}
                            ✘
                        {% elif test.result == "Error" %}
                            <strong>E</strong>
                        {% elif test.result == "Expected Failure" %}
                            <strong>XF</strong>
                        {% endif %}
                    {% endif %}
                    </div>
                {% endfor %}
            </td>
            <td class="collapse device">
                {% if 'device' in test_dict.keys() %}
                    {{ test_dict.device }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td class="collapse identifier">
                {{ test_dict.identifier }}
            </td>
            <td class="collapse">
                {{test_dict.date|format_date}}
            </td>
            <td class="collapse">
                {{test_dict.firmware_date}}
            </td>
            <td class="collapse">
                {{test_dict.firmware_release}}
            </td>
            <td class="collapse break">
                {{test_dict.firmware_incremental}}
            </td>
            <td>
                {{test_dict.gaia_date}}
            </td>
            <td>
                <a href={{test_dict.gaia_revision.link}}>
                    {{test_dict.gaia_revision.revision}}
                </a>
            </td>
            <td>
                {{test_dict.gecko_build}}
            </td>
            <td>
                <a href={{test_dict.gecko_revision.link}}>
                    {{test_dict.gecko_revision.revision}}
                </a>
            </td>
            <td>
                {{test_dict.gecko_version}}
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td class="tablehead collapse"> Build </td>
        <td class="tablehead collapse"> Results </td>
        <td class="tablehead collapse"> Device</td>
    </tr>
    {% for test_dict in tests %}
            <tr>
                <td>
                    <a href="../../{{test_dict.build}}">
                        {{test_dict.build}}
                    </a>
                </td>
                <td>
                {% for test in test_dict.test_list %}
                        <div class="{{test.result}}">
                        {% if test.result == "Passed" %}
                            ✔
                        {% elif test.result == "Skipped" %}
                            <strong>S</strong>
                        {% elif test.result == "Failure" %}
                            ✘
                        {% elif test.result == "Error" %}
                            <strong>E</strong>
                        {% elif test.result == "Expected Failure" %}
                            <strong>XF</strong>
                        {% elif test.result == "Unexpected Pass" %}
                            <strong>UXP</strong>
                        {% endif %}
                        </div>
                {% endfor %}
            </td>
            <td class="device">
                {% if 'device' in test_dict.keys() %}
                    {{ test_dict.device }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            </tr>
    {% endfor %}
{% endif %}
</table>

<script src="/js/graphing.min.js"></script>
<script src="/js/countResults.js"></script>
{% endblock %}
